<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <!-- For main database on server -->
<!--    <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://10.98.4.122:5432/sybase_migration</property>
        <property name="connection.username">sybase</property>
        <property name="connection.password">2020</property> -->	

        <!-- Database connection settings -->
    	<!-- For lcoal database -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/magar</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <!--  <property name="connection.password">1010</property> -->
        <property name="hibernate.default_schema">ngb</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">100</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <!-- Names the annotated entity class -->
        <mapping class="com.ccnb.bean.CCNBNSCStagingMigration"/>
        <mapping class="com.ccnb.bean.CcnbNgbTariffMapping"/>
        <mapping class="com.ccnb.bean.NSCStagingMigration"/>
        <mapping class="com.ccnb.bean.NSCStagingMigrationStatus"/>
        <mapping class="com.ccnb.bean.Zone"/>
        <mapping class="com.ccnb.bean.CTRMaster"/>
        <mapping class="com.ccnb.bean.MeterMaster"/>
        <mapping class="com.ccnb.bean.CCNBAsd"/>
        <mapping class="com.ccnb.bean.AdditionalSecurityDeposit"/>
        <mapping class="com.ccnb.bean.AdditionalSecurityDepositInstallment"/>
        <mapping class="com.ccnb.bean.ConsumerNoMaster"/>
        <mapping class="com.ccnb.bean.CCNBMeterMapping"/>
        <mapping class="com.ccnb.bean.Bill"/>
        <mapping class="com.ccnb.bean.CCNBBill"/>
        <mapping class="com.ccnb.bean.ReadMaster"/>
        <mapping class="com.ccnb.bean.ReadMasterKW"/>
        <mapping class="com.ccnb.bean.ReadMasterPF"/>
        <mapping class="com.ccnb.bean.CCNBRead"/>
        <mapping class="com.ccnb.bean.AgricultureBill6Monthly"/>
        <mapping class="com.ccnb.bean.CCNBAgricultureBill6Monthly"/>      
        <mapping class="com.ccnb.bean.ConsumerMiscellaneousInformation"/>      
        <mapping class="com.ccnb.bean.SaralScheme"/>      
        <mapping class="com.ccnb.bean.Group"/>      
        <mapping class="com.ccnb.bean.ReadingDiaryNo"/>      
        <mapping class="com.ccnb.bean.Payment"/>      
        <mapping class="com.ccnb.bean.CCNBPayment"/>      
        <mapping class="com.ccnb.bean.GMCAccounting"/>      
        <mapping class="com.ccnb.bean.CCNBGMCAccounting"/>      
        <mapping class="com.ccnb.bean.SecurityDepositInterest"/>      
        <mapping class="com.ccnb.bean.CCNBBillMafi"/>      
        <mapping class="com.ccnb.bean.BillMafiScheme"/>      
        <mapping class="com.ccnb.bean.CCNBGMCUpdate"/>      
        <mapping class="com.ccnb.bean.CCNBSchedule"/>      
        <mapping class="com.ccnb.bean.Schedule"/>      
        <mapping class="com.ccnb.bean.ConsumerFeederMapping"/>      
		    
	</session-factory>

</hibernate-configuration>
